body {
    margin: 0; padding: 0;
    font-family: Segoe UI, Open Sans, Helvetica;
    background-color: #5a5255;
}

:not(img):not(sidebar) > p a {
    color: #00ad99;
    text-decoration: none;
    border-left: 2px solid #00ad99;
    padding-left: 2px;
    transition: border-left-width .1s;
}
:not(img):not(sidebar) > p a:visited {
    color: #a268c0;
    border-left: 2px solid #a268c0;
    padding-left: 2px;
}
:not(img):not(sidebar) > p a:hover {
    color: #db9b40;
    border-left-width: 4px; // solid #db9b40;
    cursor: pointer;
}
:not(img):not(sidebar) > p a:focus {
    color: #db5340;
}

main {
    z-index: 0;
    width: 600px;
    margin: auto; padding: 0 0 72px;
    background-color: white;
    box-shadow: 0 16px 32px black;
    border-radius: 8px;
}

header {
    height: 148px;
    line-height: 148px;
    vertical-align: middle;
    background: url('../img/header.png');
    background: linear-gradient(
			to bottom,
			rgb(0,85,123) 0%,
			rgb(30,160,145) 100%);
    background-size: cover;
    color: white;
    border-radius: 8px 8px 0 0;
    cursor: default;
}
header div {
    background: url('../img/soft-circle-scales.png');
    border-radius: 8px 8px 0 0;
}
header h1 {
    padding-left: 12px;
    text-shadow: 0 1px 1px black;
}

sidebar {
    z-index: 1;
    position: fixed;
    width: 172px; max-height: 250px;
    padding-left: 24px;
    overflow: auto;
    top: 21px; left: 0;
    background: #559e83;
    background: linear-gradient(
			to right,
			#559e83 0%,
			rgba(35, 85, 150, 0.4) 100%);
    color: white;
    border: 1px solid #559e83;
    border-left: none;
    box-shadow: 16px 0 46px -2px black;
}
sidebar a {
    display: block;
    margin: 16px 8px 16px 8px;
    color: white;
    text-decoration: none;
}
sidebar a i {
    width: 20px;
}
sidebar a span {
    font-style: italic;
    transition: font-weight .1s;
}
sidebar a span:hover {
    font-weight: bold;
}

.with-topbar {
    display: none;
}
.with-sidebar {
    display: initial;
}

#content {
    padding: 0 12px 0 12px;
}
.divTitle {
    border-bottom: 2px solid #1b85b8;
    cursor: default;
}
a img {
    display: block;
    margin: auto;
    border-radius: 2px;
    transition: box-shadow .5s,
		width .5s,
		height .5s;
}
a img:hover {
    box-shadow: 0 6px 24px -6px rgba(0, 0, 0, .7);
}
#content a img:hover {
    height: 212px;
}
table {
    margin: auto;
}
table, th, td {
    border: 1px solid #1b85b8;
    border-collapse: collapse;
}
th, td {
    width: 128px;
}
th {
    background-color: #1b85b8;
    color: white;
}
.noTop { border-top: 0; }
.noBottom { border-bottom: 0; }
.vocaloidUl {
    list-style-image: url('../img/miku.ico');
}
fieldset {
    display: table;
    border: 1px solid #1b85b8;
    border-radius: 8px;
}
legend {
    padding: 0 8px 0 8px;
    font-style: italic;
}
.fieldDesc {
    display: inline-block;
    width: 156px;
    padding: 0 4px 0 7px;
    white-space: nowrap;
    font-style: italic;
}
input {
    width: auto;
    height: 18px;
    margin: 0;
    padding: 0 12px 0;
    background-color: #f0f0f0;
    vertical-align: middle;
	border: 1px solid #6496AF;
	border-radius: 2px;
}
input:focus { background-color: #ccc; }
.submit:focus { background-color: #f0f0f0; }
.submit:active { background-color: #ccc; }
input[type='color'] { width: 48px; }
input[type='radio'] {
    width: 14px;
    height: 14px;
    margin: 0 0 2px 0;
    background: transparent;
}

footer {
    z-index: 2;
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    margin: 0; padding: 0;
    background-color: black;
    border-radius: 32px 32px 0 0;
    color: white;
    text-align: center;
    cursor: default;
}

header, sidebar, .divTitle, footer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#rickRoll {
    z-index: 9999;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: black;
}

@media screen and (min-width: 1600px) {
    main {
	width: 1024px;
    }
    fieldset {
	background: url('../img/hd.png') bottom right no-repeat;
	background-size: auto 100%;
    }
}

@media screen and (max-width: 1024px) {
    sidebar {
	width: 100%; height: 52px;
	padding: 0;
	overflow-y: hidden;
	white-space: nowrap;
	top: 0; left: 0;
	box-shadow: none;
	background: linear-gradient(
			    to bottom,
			    #559e83 55%,
			    rgba(35, 85, 150, 0.5) 100%);
	border-top: none;
	line-height: 50px;
    }
    sidebar p {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
    }
    sidebar::-webkit-scrollbar {
	display: none;
    }
    sidebar a {
	display: inline;
    }
    .with-topbar {
	display: initial;
    }
    .with-sidebar {
	display: none;
    }

    main {
	margin-top: 64px;
	padding-bottom: 64px;
	width: 720px;
    }

    #content {
	width: auto;
    }

    footer {
	font-size: 12px;
    }
}

@media screen and (max-width: 735px) {
    main {
	width: 100%;
	margin-top: 48px;
	padding-bottom: 88px;
    }
    main, header, header div {
	border-radius: 0;
    }
    sidebar {
	height: 48px;
	text-align: center;
	font-size: 32px;
	line-height: 46px;
    }
    sidebar a {
	display: inline;
	margin: 0;
    }
    sidebar a i {
	width: 36px;
    }
    sidebar a span {
	display: none;
    }
}

@media screen and (max-width: 420px) {
    .fieldDesc {
	padding: 0;
	display: block;
    }
}