@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

body {
    margin: 0; padding: 0;
    color: rgb(50, 50, 50);
    background: linear-gradient(
			to bottom,
			rgb(42, 28, 146) 0%,
			rgba(171,70,119,1) 100%)
			fixed;
}
body, input {
    font-family: 'Roboto Condensed',
		 'Segoe UI',
		 sans-serif;
}

:not(img):not(sidebar) > p a {
    color: #1a099a;
    text-decoration: none;
    border-left: 2px solid #1a099a;
    padding-left: 2px;
    transition: border-left-width .1s;
}
:not(img):not(sidebar) > p a:visited {
    color: #610000;
    border-left: 2px solid #610000;
    padding-left: 2px;
}
:not(img):not(sidebar) > p a:hover {
    color: #db9b40;
    border-left-width: 4px; // solid #db9b40;
    cursor: pointer;
}
:not(img):not(sidebar) > p a:active {
    color: #8c1100;
}
:not(img):not(sidebar) > p a:focus {
    color: #8c1100;
}

main {
    z-index: 0;
    width: 600px;
    margin: 16px auto; padding: 0 0 32px;
    /* box-shadow: 0 16px 32px black; */
}

header {
    height: 148px;
    line-height: 148px;
    vertical-align: middle;
    /*background: url('../img/header.png');
    background: linear-gradient(
			to bottom,
			rgb(0,85,123) 0%,
			rgb(30,160,145) 100%); */
    background-size: cover;
    color: white;
    border-image: linear-gradient(
			  to top,
			  white,
			  transparent)
			  0 100%;
    border-width: 1px 1px 0 1px;
    border-radius: 8px 8px 0 0;
    cursor: default;
}
header div {
    background: url('../img/diamond-upholstery.png');
    background-size: 96px;
    border-radius: 8px 8px 0 0;
}
header h1 {
    margin: 0;
    padding-left: 12px;
    color: white;
    text-shadow: 0 1px 1px black;
}

sidebar {
    z-index: 1;
    position: fixed;
    width: 172px; max-height: 250px;
    padding-left: 24px;
    overflow: auto;
    top: 21px; left: 0;
    background: #4767bd;
    background: linear-gradient(
			to right,
			#4767bd 0%,
			rgba(90,41,169,0.5) 100%);
    color: white;
    border: 1px solid rgb(0, 111, 160);
    border-left: none;
    box-shadow: 16px 0 46px -2px black;
}
sidebar a {
    display: block;
    margin: 16px 8px 16px 8px;
    color: white;
    text-decoration: none;
}
sidebar a i {
    width: 20px;
}
sidebar a span {
    font-style: italic;
    transition: font-weight .1s;
}
sidebar a span:hover {
    font-weight: bold;
}

.with-topbar {
    display: none;
}
.with-sidebar {
    display: initial;
}

#content {
    padding: 12px 12px 32px 12px;
    background: rgba(255, 255, 255, 0.3);
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: white;
}
#content p {
    margin: 0;
}
.divTitle {
    border-bottom: 2px solid;
    cursor: default;
}
a img {
    display: block;
    margin: 16px auto 16px;
    border-radius: 2px;
    transition: box-shadow .5s,
		width .5s,
		height .5s;
}
a img:hover {
    box-shadow: 0 6px 24px -6px rgba(0, 0, 0, .7);
}
#content a img:hover {
    height: 212px;
}
table {
    margin: 16px auto;
}
table, th, td {
    border: 1px solid rgb(50, 50, 50);
    border-collapse: collapse;
}
th, td {
    width: 128px;
    background: rgba(255, 255, 255, 0.7);
}
th {
    background-color: rgb(50, 50, 50);
    color: white;
}
.noTop { border-top: 0; }
.noBottom { border-bottom: 0; }
.vocaloidUl {
    list-style-image: url('../img/miku.ico');
}
fieldset {
    width: 512px;
    margin: 16px auto 0;
    display: table;
    background: rgba(255, 255, 255, .7);
    border: 1px solid black;
    border-radius: 8px;
}
legend {
    padding: 0 8px 0 8px;
    background: rgba(222, 217, 63, 0.7);
    transform: skewX(-15deg);
    box-shadow: 0 3px 3px rgba(88, 88, 88, 0.88);
}
.fieldDesc {
    display: inline-block;
    width: 156px;
    padding: 0 4px 0 7px;
    white-space: nowrap;
    font-style: italic;
}
input {
    width: auto;
    height: 18px;
    margin: 0;
    padding: 0 12px 0;
    background-color: #f0f0f0;
    vertical-align: middle;
	border: 1px solid black;
	border-radius: 2px;
}
input:focus { background-color: #ccc; }
.submit:focus { background-color: #f0f0f0; }
.submit:active { background-color: #ccc; }
input[type='color'] { width: 48px; }
input[type='radio'] {
    width: 14px;
    height: 14px;
    margin: 0 0 2px 0;
    background: transparent;
}

footer {
    z-index: 2;
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    margin: 0; padding: 0;
    background-color: black;
    border-radius: 32px 32px 0 0;
    color: white;
    text-align: center;
    cursor: default;
}

header, sidebar, .divTitle, footer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

#rickRoll {
    z-index: 9999;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: black;
}

@media screen and (min-width: 1600px) {
    main {
	width: 1024px;
    }
    fieldset {
	width: 768px;
	background: url('../img/hd.png') bottom right no-repeat,
		    rgba(255, 255, 255, .7);
	background-size: auto 100%;
    }
}

@media screen and (max-width: 1024px) {
    sidebar {
	width: 100%; height: 52px;
	padding: 0;
	overflow-y: hidden;
	white-space: nowrap;
	top: 0; left: 0;
	box-shadow: none;
	background: linear-gradient(
			    to bottom,
			    #4767bd 30%,
			    rgba(90,41,169,0.5) 100%);
	border-top: none;
	line-height: 52px;
    }
    sidebar p {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
    }
    sidebar::-webkit-scrollbar {
	display: none;
    }
    sidebar a {
	display: inline;
    }
    .with-topbar {
	display: initial;
    }
    .with-sidebar {
	display: none;
    }

    main {
	width: 720px;
	margin-top: 64px;
	padding: 0;
    }

    #content {
	width: auto;
    }

    footer {
	font-size: 12px;
    }
}

@media screen and (max-width: 735px) {
    main {
	width: 100%;
	margin-top: 48px;
    }
    main, header, header div {
	border-radius: 0;
    }
    header, #content {
	border: 0;
    }
    sidebar {
	height: 48px;
	text-align: center;
	font-size: 32px;
	line-height: 48px;
    }
    sidebar a {
	display: inline;
	margin: 0;
    }
    sidebar a i {
	width: 36px;
    }
    sidebar a span {
	display: none;
    }
    fieldset {
	width: auto;
    }
}

@media screen and (max-width: 420px) {
    .fieldDesc {
	padding: 0;
	display: block;
    }
}